<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/home" class="navbar-brand">ECF<a/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="homeNav">
            <span class="navbar-toglle-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="homeNav">
            <ul class="navbar-nav m1-auto">
                <li class="nav-item">
                    <a href="/home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/signIn" class="nav-link">Sign in</a>
                </li>
                 <li class="nav-item">
                    <a href="/loginSecurity" class="nav-link">Connexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

